In [195]:
import numpy as np
import pandas as pd
import seaborn as sns
import itertools

import matplotlib.pyplot as plt
from collections import Counter

In [196]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000
556,tt0252501,31000000,24185781,Hearts in Atlantis,Anthony Hopkins|Anton Yelchin|Hope Davis|Mika ...,Scott Hicks,What if one of life's great mysteries moved in...,A widowed mother and her son change when a mys...,101,Drama|Mystery,Castle Rock Entertainment,9/7/2001,6.3,2001
558,tt0179626,60000000,56359980,15 Minutes,Robert De Niro|Charlize Theron|Edward Burns|Ke...,John Herzfeld,America Likes to Watch,When Eastern European criminals Oleg and Emil ...,120,Action|Crime|Thriller,New Line Cinema|Industry Entertainment|Tribeca...,3/1/2001,5.7,2001
550,tt0202470,57000000,16991902,Rock Star,Mark Wahlberg|Jennifer Aniston|Jason Flemyng|D...,Stephen Herek,The story of a wanna be who got to be.,Rock Star tells the story of Chris Cole and a ...,105,Music|Drama|Comedy,Warner Bros. Pictures|Bel Air Entertainment,9/4/2001,5.9,2001
1304,tt2083355,17000000,71625195,The Best Man Holiday,Terrence Howard|Harold Perrineau|Morris Chestn...,Malcolm D. Lee,Times change. Friendship doesn't.,When college friends reunite after 15 years ov...,123,Comedy,Universal,11/15/2013,7.0,2013

In [197]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [198]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [199]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
# +
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [200]:
# тут пишем ваш код для решения данного вопроса:
data_1_1 = data[data.budget == data.budget.max()]
display(data_1_1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [201]:
# можно добавлять разные варианты решения
data_1_2 = data.loc[data.budget == data.budget.max()]
display(data_1_2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [202]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
# +
answers['2'] = '2. Gods and Generals (tt0279111)'

In [203]:
data_2 = data[data.runtime == data.runtime.max()]
display(data_2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [204]:
# +
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [205]:
data_3 = data[data.runtime == data.runtime.min()]
display(data_3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [206]:
# +
answers['4'] = '2. 110'

In [207]:
runtime = data.runtime.mean()
display(runtime)

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [208]:
# +
answers['5'] = '1. 107'

In [209]:
runtime = data.runtime.median()
display(runtime)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [210]:
# +
answers['6'] = '5. Avatar (tt0499549)'

In [211]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data_6 = data[data.profit == data.profit.max()]
display(data_6)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [212]:
# +
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [213]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data_7 = data[data.profit == data.profit.min()]
display(data_7)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [214]:
# +
answers['8'] = '1. 1478'

In [215]:
len_8 = len(data[data.revenue > data.budget])
display(len_8)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [216]:
# +
answers['9'] = '4. The Dark Knight (tt0468569)'

In [217]:
data_9 = data[data.release_year == 2008]
data_9 = data_9[data_9.profit == data_9.profit.max()]
display(data_9)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [218]:
# +
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [219]:
data_10 = data[:]
data_10 = data_10.query('2012 < release_year <= 2014')
data_10 = data_10[data_10.profit == data_10.profit.min()]
display(data_10)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [220]:
# +
answers['11'] = '3. Drama'

In [221]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
# использование Counter + соединение и разбивка строк
dt_11 = Counter(data['genres'].str.cat(sep = '|').split('|')).most_common(1)
display(dt_11)

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [222]:
# +
answers['12'] = '1. Drama'

In [223]:
data_12 = data.query('profit > 0')
count = Counter(data_12['genres'].str.cat(sep = '|').split('|')).most_common(1)

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [224]:
# +
answers['13'] = '5. Peter Jackson'

In [225]:
data_director = data.copy(deep=True)
data_director['director'] = data_director['director'].apply(lambda x:x.split('|'))
data_director = data_director.explode('director')
answer = data_director.groupby('director')['revenue'].apply(sum).sort_values(ascending=False).keys()[0] 
display(answer)

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [226]:
# +
answers['14'] = '3. Robert Rodriguez'

In [227]:
data_14 = data.copy(deep=True)
data_14 = data_14[data_14.genres.str.contains('Action', na = False)]
elem = Counter(data_14['director'].str.cat(sep = '|').split('|')).most_common(1)
display(elem)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [228]:
# +
answers['15'] = '3. Chris Hemsworth'

In [229]:
data_cast = data.copy(deep=True)
data_cast = data_cast.query('release_year == 2012')
data_cast['cast'] = data_cast['cast'].apply(lambda x:x.split('|'))
data_cast = data_cast.explode('cast')
answer = data_cast.groupby('cast')['revenue'].apply(sum).sort_values(ascending=False).keys()[0] 
display(answer)

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [230]:
# +
answers['16'] = '3. Matt Damon'

In [231]:
data_budget = data.copy(deep=True)
data_budget = data_budget[data.budget > data.budget.mean()]

cast = Counter(data_budget['cast'].str.cat(sep = '|').split('|')).most_common(1)
print(cast)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [232]:
# +
answers['17'] = '2. Action'

In [233]:
data_cage = data.copy(deep=True)
data_cage['cast'] = data_cage['cast'].apply(lambda x:x.split('|'))
data_cage = data_cage.explode('cast')
data_cage = data_cage.query('cast == "Nicolas Cage"')
answer = Counter(data_cage['genres'].str.cat(sep = '|').split('|')).most_common(1) 
display(answer)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [234]:
# +
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [235]:
data_paramount = data.copy(deep=True)
data_paramount = data_paramount[data_paramount.production_companies.str.contains("Paramount Pictures")]
film_profit = data_paramount.loc[data_paramount.profit == data_paramount.profit.min()]
display(film_profit)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [236]:
# +
answers['19'] = '5. 2015'

In [237]:
data_year = data.copy(deep=True)
data_year.groupby('release_year')['revenue'].sum().sort_values(ascending=False).keys()[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [238]:
# +
answers['20'] = '2014'

In [239]:
data_warner = data.copy(deep=True)
data_warner = data_warner[data_warner.production_companies.str.contains("Warner Bros")]
data_warner.groupby('release_year')['profit'].sum().sort_values(ascending=False).keys()[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [240]:
# +
answers['21'] = '9'

In [241]:
data_month = data.copy(deep=True)
data_month['release_date'] = data_month.release_date.apply(lambda x: x.split('/')[0])
films = Counter(data_month['release_date']).most_common(1)
display(films)

[('9', 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [242]:
# +
answers['22'] = '450'

In [243]:
data_summer = data.copy(deep=True)
data_summer['release_date'] = data_summer.release_date.apply(lambda x: x.split('/')[0])
data_summer = data_summer[data_summer['release_date'].isin(['6','7','8'])]
len(data_summer)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [244]:
# +
answers['23'] = '5. Peter Jackson'

In [245]:
data_winter = data.copy(deep=True)
data_winter['release_date'] = data_winter.release_date.apply(lambda x: x.split('/')[0])
data_winter = data_winter[data_winter['release_date'].isin(['12','1','2'])]
films = Counter(data_winter['director'].str.cat(sep = '|').split('|')).most_common(1) 
display(films)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [246]:
# +
answers['24'] = '5. Four By Two Productions'

In [247]:
data_name = data.copy(deep=True)
data_name['title_len'] = data_name['original_title'].apply(lambda x:len(x))
data_name['production_companies'] = data_name['production_companies'].apply(lambda x:x.split('|'))
data_name = data_name.explode('production_companies')
data_name = data_name.groupby('production_companies')['title_len'].mean().sort_values(ascending=False).keys()[0];

display(data_name)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [248]:
# +
answers['25'] = '3. Midnight Picture Show'

In [249]:
data_overview = data.copy(deep=True)
data_overview['overview_len'] = data_overview['overview'].apply(lambda x:len(x.split(' ')))
data_overview['production_companies'] = data_overview['production_companies'].apply(lambda x:x.split('|'))
data_overview = data_overview.explode('production_companies')
data_overview = data_overview.groupby('production_companies')['overview_len'].mean().sort_values(ascending=False).keys()[0];
print(data_overview)

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [250]:
# +
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [251]:
data_best = data.copy(deep=True)
data_best = data.sort_values(by='vote_average', ascending=False)
count = len(data_best)
display(data_best[0:(count//100)])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,24351251
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,68346473
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014,487105443
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014,293151265

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [254]:
# +
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [ ]:
data27 = data.copy(deep=True)
data27['cast'] = data27['cast'].apply(lambda x: x.split('|'))
data27['cast'] = data27['cast'].apply(lambda x: list(itertools.combinations(sorted(x),2)))
data27 = data27.explode('cast')
acters = Counter(data27['cast']).most_common()
display(acters)

ВАРИАНТ 2

# Submission

In [256]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [255]:
# и убедиться что ни чего не пропустил)
len(answers)

27